#ifdef SWEEP
//  0  1  2  3  4    5  6  7  8  9
// 10 11 12 13 14   15 16 17 18 19
// 20 21 22 23 24   25 26 27 28 29
//          30 31   32 33

#define LEFT_AND_THUMBS 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33
#define RIGHT_AND_THUMBS 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33

#define TOP_MIDDLE_RING_LEFT 1 2
#define TOP_MIDDLE_INDEX_LEFT 3 2
#define BOT_MIDDLE_RING_LEFT 21 22
#define BOT_MIDDLE_INDEX_LEFT 22 23

#define TOP_MIDDLE_INDEX_RIGHT 6 7
#define TOP_MIDDLE_RING_RIGHT 7 8
#define BOT_MIDDLE_INDEX_RIGHT 26 27
#define BOT_MIDDLE_RING_RIGHT 27 28

#define HOME_MIDDLE_INDEX_LEFT 12 13
#define HOME_MIDDLE_INDEX_RIGHT 16 17

#define HOME_MIDDLE_RING_LEFT 12 11
#define HOME_MIDDLE_RING_RIGHT 18 17

#define BOOTLOADER_COMBO 10 19

#define TOP_VERT_0 0 10
#define TOP_VERT_1 1 11
#define TOP_VERT_2 2 12
#define TOP_VERT_3 3 13
#define TOP_VERT_4 4 14
#define TOP_VERT_5 5 15
#define TOP_VERT_6 6 16
#define TOP_VERT_7 7 17
#define TOP_VERT_8 8 18
#define TOP_VERT_9 9 19

#endif

#ifdef ENDGAME
//  0  1  2  3  4    5  6  7  8  9
// 10 11 12 13 14   15 16 17 18 19
// 20 21 22 23 24   25 26 27 28 29
// 30       31 32   33 34       35

#define LEFT_AND_THUMBS 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35
#define RIGHT_AND_THUMBS 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33 34 35

#define TOP_MIDDLE_RING_LEFT 1 2
#define TOP_MIDDLE_INDEX_LEFT 3 2
#define BOT_MIDDLE_RING_LEFT 21 22
#define BOT_MIDDLE_INDEX_LEFT 22 23

#define TOP_MIDDLE_INDEX_RIGHT 6 7
#define TOP_MIDDLE_RING_RIGHT 7 8
#define BOT_MIDDLE_INDEX_RIGHT 26 27
#define BOT_MIDDLE_RING_RIGHT 27 28

#define GAME_LAYER_COMBO 20 29

#define BOOTLOADER_COMBO 10 19

#endif

#ifdef SPLAYTORAID
//     0  1  2  3  4       5  6  7  8  9
// 10 11 12 13 14 15      16 17 18 19 20 21
// 22 23 24 25 26 27      28 29 30 31 32 33
//          34 35 36  37  38 39 40

#define LEFT_AND_THUMBS 0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 38 39 40
#define RIGHT_AND_THUMBS 5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 34 35 36  38 39 40

#define TOP_MIDDLE_RING_LEFT 1 2
#define TOP_MIDDLE_INDEX_LEFT 3 2
#define BOT_MIDDLE_RING_LEFT 24 25
#define BOT_MIDDLE_INDEX_LEFT 25 26

#define TOP_MIDDLE_INDEX_RIGHT 6 7
#define TOP_MIDDLE_RING_RIGHT 7 8
#define BOT_MIDDLE_INDEX_RIGHT 29 30
#define BOT_MIDDLE_RING_RIGHT 30 31

#define BOOTLOADER_COMBO 11 20

#endif
